
body{
    color: white;
     margin: 0px;
     padding: 0px;
    
   }
   p{
    font: italic;
    font-size: large;
   }
.Container {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    padding: 20px;
    
    background-color: #0f0616;
    border-radius: 50px;
    text-shadow:  5px 5px black;
    padding-left: 100px;
   
}

.image img {
    max-width: 100%;
    height: auto;
    box-shadow: 100px white;
    filter: drop-shadow(5px 5px 5px rgb(8, 8, 42));
    
    
}

.i.am h1 {
    font-size: 3.5em;
    line-height: 1.5em;
    text-align: left;
}

/* .certificate{
    justify-content: space-between;
    border: 200px;
    background-color: #0f0616;
    margin: 2px solid;
    left: 200px;
    right: 500px;
    padding-top: 100px;
    overflow: hidden;
    border-radius: 100px;
    height: 300px;
    top: 200px;
   

}*/


   

.project
{
font:italic;
font-size: larger;
font-display: block;
font-variant-ligatures: no-common-ligatures;
}

.project .Git{
    text-decoration: none;
    color: white;
}

/*.certificate .images :hover{
    width: 500px;
    height: 500px;

#gallery {
    text-align: center;
    
}
#gallery img {
    width: 400px;
    height: auto;
}
button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 100;
    color:black;

    background-color:  #00fffc; 
    
}}*/



button:hover{
    background-color:white;
    color: black;
}


/*
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.circle1{
    background-color: #0f0616;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    box-shadow: wheat;
    text-align: center;
    
}

.circle2{
    background-color: #0f0616;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    text-align: center;
    
} 
.circle3{
    background-color: #0f0616;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    text-align: center;
   
    
}
.innercircle1{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: conic-gradient(
        var(--color) calc(var(--percentage) * 1%), 
    #ddd calc(var(--percentage) * 1%)
    );
 
}

.innercircle1.percentage{
    
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        color: #080000;
        
}

.innercircle2{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: conic-gradient(
        var(--color) calc(var(--percentage) * 1%), 
        #ddd calc(var(--percentage) * 1%)
    );
   
}

.innercircle2.percentage{
    
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #555;

}

.innercircle3{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: conic-gradient(
        var(--color) calc(var(--percentage) * 1%), 
        #ddd calc(var(--percentage) * 1%)
    );
   
}

.innercircle3.percentage{
    
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: black;

}

.circle1 p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.circle2 p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.circle3 p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
    */
.Python{
    display: inline-flex;
    justify-content:space-between;
    left: 150px;
    padding-left: 235px;

}
nav td {
    padding: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #00fffc;
}

nav td:not(:last-child) {
    border-right: 1px solid #555;
}

nav td:last-child {
    border-right: none;
}





.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    color: black;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    
}

.card-content  p{
    color:#0f0616 ;
    font-size: 15px;
    line-height: 1.3;
    
}
.card-content{
background-color: #0f0616;
}




h3{
    margin: 5px;
}

.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0,10px 10px rgba(0,0,0,0.22);
    
}

.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}

.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0,1px 2px rgba(0,0,0,0.24);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.bar{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0,10px 10px rgba(0,0,0,0.22);

}

.bar span{
    height: 20px ;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}

.Python{
   width: 90%;
   animation: Python 3s;
}

.Java{
    width: 85%;
    animation: Java 3s;
 }

 .C{
    width: 80%;
    animation: C 3s;
 }

 .Javascript{
    width: 70%;
    animation:Javascript 3s;
 }

 @keyframes Python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
 }

 @keyframes Java{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
 }

 @keyframes C{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
 }

 @keyframes Javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
 }

 .AI{
    width: 75%;
    animation: AI 3s;
 }
 
 .Html{
     width: 85%;
     animation: Html 3s;
  }
 
  .Data{
     width: 80%;
     animation: Data 3s;
  }
 
  .OOPS{
     width: 89%;
     animation:OOPS 3s;
  }
 
  @keyframes OOPS{
     0%{
         width: 0%;
     }
     100%{
         width: 89%;
     }
  }
 
  @keyframes Html{
     0%{
         width: 0%;
     }
     100%{
         width: 85%;
     }
  }
 
  @keyframes Data{
     0%{
         width: 0%;
     }
     100%{
         width: 80%;
     }
  }
 
  @keyframes AI{
     0%{
         width: 0%;
     }
     100%{
         width: 75%;
     }
  }

 .contactme a{
   border: 20px;
   background-color:black;
   color: white;
   text-decoration: none;

 }

 .Kavi{
    display: flex;
    justify-content: space-around;
    text-align: center;
 }

 .Greet{
    text-align: center;
    font-size: larger;
    letter-spacing: 3px;
    font-weight: bolder;
    
 }